{% macro nothing_there(title='Nothing there!', icon='fa-spider') %}
    <div class="card">
        <div class="content">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <div class="icon is-large">
                            <i class="fas fa-3x {{ icon }}"></i>
                        </div>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">
                            {{ title }}
                        </p>
                        <p class="subtitle is-6">
                            <a href="{{ url_for('main.index') }}">
                                {{ config.APP_NAME }}
                            </a>
                            &mdash;
                            {{ config.APP_SUBTITLE }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
