{% macro reg_log_toggle() %}
    {% if config.OPEN_REGISTRATION %}
    {% with (is_reg, is_log) = (
        request.endpoint == 'user.register',
        request.endpoint == 'user.login'
    ) %}
    {% if is_reg or is_log %}
    <div class="tabs is-centered is-boxed is-medium">
        <ul>
            <li class="{{ 'is-active' if is_reg }}">
                <a href="{{ url_for('user.register') }}">
                    <span class="icon">
                        <i class="fas fa-user-plus"></i>
                    </span>
                    <span>Register</span>
                </a>
            </li>
            <li class="{{ 'is-active' if is_log }}">
                <a href="{{ url_for('user.login') }}">
                    <span class="icon">
                        <i class="fas fa-user-check"></i>
                    </span>
                    <span>Login</span>
                </a>
            </li>
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% endif %}
{% endmacro %}
