{% macro render_form(form, action=none) %}
    {% macro _field(fld) %}
        {% if fld.type in ['CSRFTokenField', 'HiddenField'] %}
            {{ fld() }}
        {% else %}
        <div class="field">
            {% with error_class = ' is-danger' if fld.errors else '' %}
            <div class="control">
            {% if fld.type in ['SubmitField'] %}
                {{ fld(class='button is-link') }}
            {% elif fld.type in ['StringField', 'PasswordField'] %}
                {{ fld.label(class='label') }}
                {{ fld(class='input' ~ error_class, placeholder=fld.description) }}
            {% elif fld.type in ['IntegerField'] %}
                {{ fld.label(class='label') }}
                {{ fld(class='input' ~ error_class, type='number', placeholder=fld.description) }}
            {% elif fld.type in ['BooleanField'] %}
                {{ fld(class='checkbox' ~ error_class) }}
                {{ fld.label(class='checkbox') }}
            {% elif fld.type in ['SelectField'] %}
                {{ fld.label(class='label') }}
                <div class="select">{{ fld() }}</div>
            {% else %}
                {{ fld.label(class='label') }}
                {{ fld(class='input') }}
            {% endif %}
            {% for error in fld.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
            </div>
            {% endwith %}
        </div>
        {% endif %}
    {% endmacro %}
    {% if form %}
        <form method="post" action="{{ action if action else request.url }}">
        {% for field in form %}
            {{ _field(field) }}
        {% endfor %}
        </form>
    {% endif %}
{% endmacro %}
