{% macro _table(elems, heads) %}
    <table class="table is-striped is-narrow is-fullwidth is-hoverable">
        <thead>
            <tr>
            {% for head in heads %}
                <th>{{ head }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for elem in elems %}
            <tr>{{ caller(elem) }}</tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}


{% macro users_list(users) %}
    {% call(user) _table(users, [
        'Username', 'Created', 'Last Login', 'Crawls'
    ]) %}
        <td>
            <span class="icon" style="display: inline-table;">
                <i class="fas {{ user.icon }}"></i>
            </span>
            <a href="{{ url_for('main.user_single', prime=user.prime) }}">
                {{ user.username }}
            </a>
        </td>
        <td>{{ user.created|moment }}</td>
        <td>{{ user.last_login|moment }}</td>
        <td>{{ user.crawls|length }}</td>
    {% endcall %}
{% endmacro %}

{% macro crawls_list(crawls, show_user=true) %}
    {% call(crawl) _table(crawls, [
        'Time', 'TTL', 'URLs', 'User'
    ] if show_user else [
        'Time', 'TTL', 'URLs'
    ]) %}
        <td>
            <a href="{{ url_for('main.crawl_single', prime=crawl.prime) }}">
                {{ crawl.created|moment }}
            </a>
        </td>
        <td>{{ crawl.ttl }}</td>
        <td>{{ crawl.urls|length }}</td>
        {% if show_user %}
        <td>
            <a href="{{ url_for('main.user_single', prime=crawl.user.prime) }}">
                {{ crawl.user.username }}
            </a>
        </td>
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro urls_list(urls, show_crawls=true) %}
    {% call(url) _table(urls, [
        'Time', '', 'Result', 'Children', 'Hop', 'Crawl'
    ] if show_crawls else [
        'Time', '', 'Result', 'Children', 'Hop'
    ]) %}
        <td>
            <a href="{{ url_for('main.url_single', prime=url.prime) }}">
                {{ url.created|moment }}
            </a>
        </td>
        <td class="has-text-centered">
            {% with (icls, icon) = (
                'has-text-success', 'fa-award'
            ) if url.status.good else (
                'has-text-danger', 'fa-fire-alt'
            ) %}
            <span class="icon {{ icls }}">
                <i class="fas {{ icon }}"></i>
            </span>
            {% endwith %}
            <div><strong>{{ url.status.value }}</strong></div>
        </td>
        <td>
            <div>
                <a href="{{ url.address }}">
                    {{ url.address|truncate(config.TRUNCATE, end='...') }}
                </a>
            </div>
            {% if url.error.value %}
                <div class="has-text-centered">
                    <code>{{ url.error.value }}</code>
                </div>
            {% endif %}
        </td>
        <td>
            {{ url.children|length }}
        </td>
        <td>
            {{ url.hop }}
        </td>
        {% if show_crawls %}
        <td>
            <a href="{{ url_for('main.crawl_single', prime=url.crawl.prime) }}">
                {{ url.crawl.prime }}
            </a>
        </td>
        {% endif %}
    {% endcall %}
{% endmacro %}
