{% macro pagination(pgn) %}
    <nav class="pagination is-centered" role="navigation">
        {% with (href, dlbd) = (
            url_for(request.endpoint, page=pgn.prev_num) if pgn.has_prev,
            'disabled' if not pgn.has_prev
        ) %}
        <a class="pagination-previous" href="{{ href }}" {{ dlbd }}>
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
        </a>
        {% endwith %}
        {% with (href, dlbd) = (
            url_for(request.endpoint, page=pgn.next_num) if pgn.has_next,
            'disabled' if not pgn.has_next
        ) %}
        <a class="pagination-next" href="{{ href }}" {{ dlbd }}>
            <span class="icon">
                <i class="fas fa-arrow-right"></i>
            </span>
         </a>
        {% endwith %}
        <ul class="pagination-list">
        {% for page in pgn.iter_pages(
            left_edge=1, left_current=3,
            right_current=4, right_edge=1
        ) %}
            <li>
            {% if page %}
                {% with (href, curr) = (
                    url_for(request.endpoint, page=page),
                    'is-current' if page == pgn.page
                ) %}
                <a class="pagination-link {{ curr }}" href="{{ href }}">
                    {{ page }}
                </a>
                {% endwith %}
            {% else %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    </nav>
{% endmacro %}
