{% from 'macros/lists.html' import crawls_list %}
{% from 'macros/lists.html' import urls_list %}

{% macro _card(footer=none) %}
    <div class="content">
        <div class="card">
            <div class="card-content">
                {{ caller() }}
            </div>
            {% if footer %}
            <div class="card-footer">
                {{ footer }}
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
{% macro _media(icon, title, subtitle) %}
    <div class="media">
        <div class="media-left">
            <div class="icon is-large">
                <i class="fas fa-3x {{ icon }}"></i>
            </div>
        </div>
        <div class="media-content">
            <div class="title is-4">
                {{ title }}
            </div>
            <div class="subtitle is-6">
                {{ subtitle }}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro user_single(user, show_user=true, is_self=false) %}
    {% macro _footer() %}
        <div class="card-footer-item">
            Registered:&ensp;
            {{ user.created|moment }}
        </div>
        {% if is_self %}
        <div class="card-footer-item">
            <a href="{{ url_for('user.change') }}">
                Change Data
            </a>
        </div>
        {% endif %}
        <div class="card-footer-item">
            Last Login:&ensp;
            {{ user.last_login|moment }}
        </div>
    {% endmacro %}

    {% call() _card(footer=_footer()) %}
        {% with len = user.crawls|length %}
        {{ _media(
            user.icon, user.username,
            len ~ ' ' ~ ('Crawls' if len != 1 else 'Crawl')
        ) }}
        {% endwith %}
        {% if user.crawls %}
            <div class="content">
                {{ crawls_list(user.crawls, show_user=show_user) }}
            </div>
        {% elif is_self %}
            <div class="content">
                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <a
                           class="button is-medium"
                           href="{{ url_for('crawl.index') }}"
                        >
                            <span class="icon">
                                <i class="fas fa-paint-brush"></i>
                            </span>
                            <span>Crawl</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro crawl_single(crawl) %}
    {% macro _footer() %}
        <div class="card-footer-item">
            Created:&ensp;
            {{ crawl.created|moment }}
        </div>
        <div class="card-footer-item">
            TTL:&ensp;
            {{ crawl.ttl }}
        </div>
        <div class="card-footer-item">
            User:&ensp;
            <a href="{{ url_for('main.user_single', prime=crawl.user.prime) }}">
                {{ crawl.user.username }}
            </a>
        </div>
    {% endmacro %}

    {% call() _card(footer=_footer()) %}
        {% with len = crawl.urls|length %}
        {{ _media(
            'fa-flask', 'Crawl',
            len ~ ' ' ~ ('URLs' if len != 1 else 'URL')
        ) }}
        {% endwith %}
        {% if crawl.urls %}
            <div class="content">
                {{ urls_list(crawl.urls, show_crawls=false) }}
            </div>
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro url_single(url) %}
    {% macro _footer() %}
        <div class="card-footer-item">
            Created:&ensp;
            {{ url.created|moment }}
        </div>
        <div class="card-footer-item">
            Hop:&ensp;
            {{ url.hop }}
        </div>
        <div class="card-footer-item">
            Crawl:&ensp;
            <a href="{{ url_for('main.crawl_single', prime=url.crawl.prime) }}">
                {{ url.crawl.created|moment }}
            </a>
        </div>
    {% endmacro %}
    {% macro _link() %}
        <a href="{{ url.address }}">
            {{ url.address|truncate(config.TRUNCATE, end='...') }}
        </a>
    {% endmacro %}
    {% macro _state() %}
        {% with (icls, icon) = (
            'has-text-success', 'fa-award'
        ) if url.status.good else (
            'has-text-danger', 'fa-fire-alt'
        ) %}
            <span class="icon {{ icls }}" style="display: inline-table;">
                <i class="fas {{ icon }}"></i>
            </span>
        {% endwith %}
        <strong>{{ url.status.value }}</strong>
    {% endmacro %}
    {% macro _line(title, value) %}
        {% if value %}
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="title is-4">
                            {{ title }}
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        {{ value }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endmacro %}

    {% call() _card(footer=_footer()) %}
        {{ _media(
            'fa-vial', _link(),
            _state()
        ) }}
        {% if url.error.value %}
        <div class="card-content has-text-centered">
            <code>{{ url.error.value }}</code>
        </div>
        {% endif %}
        <div class="card-content">
            {{ _line('Scheme', url.scheme.value) }}
            {{ _line('Username', url.username.value) }}
            {{ _line('Password', url.password.value) }}
            {{ _line('Thirdlevel', url.thirdlevel.value) }}
            {{ _line('Secondlevel', url.secondlevel.value) }}
            {{ _line('Toplevel', url.toplevel.value) }}
            {{ _line('Port', url.port.value) }}
            {{ _line('Path', url.path.value) }}
            {{ _line('Argument', url.argument.value) }}
            {{ _line('Fragment', url.fragment.value) }}
        </div>
        {% if url.parent %}
        <div class="title is-4 has-text-centered">
            Parent
        </div>
        {{ urls_list([url.parent], show_crawls=false) }}
        {% endif %}
        {% if url.children %}
        <div class="title is-4 has-text-centered">
            Children
        </div>
        {{ urls_list(url.children, show_crawls=false) }}
        {% endif %}
    {% endcall %}
{% endmacro %}
