{% extends 'page.html' %}
{% from 'macros/base.html' import nothing_there %}

{% macro _level(items) %}
    <div class="level">
    {% for item in items %}
        {{ item }}
    {% endfor %}
    </div>
{% endmacro %}
{% macro _l_item(num, l_mult, l_sing, endpoint, t_css=none) %}
    <div class="level-item has-text-centered">
        <div>
        <a href="{{ url_for(endpoint) }}">
            <div class="heading">
                {{ l_mult if num != 1 else l_sing }}
            </div>
            <div class="title{% if t_css %} {{ t_css }}{% endif %}">
                {{ num }}
            </div>
        </a>
        </div>
    </div>
{% endmacro %}

{% macro _menu(elems, l_mult, l_sing) %}
    <aside class="menu has-text-centered">
        <p class="menu-label">
            {{ l_mult if elems|length != 1 else l_sing }}
        </p>
        <ul class="menu-list">
            {% for elem in elems %}
                {{ caller(elem) }}
            {% endfor %}
        </ul>
    </aside>
{% endmacro %}

{% block content %}
    {% if (
        num_user or num_crawl or num_url
    ) or (
        lat_user or lat_crawl or lat_url
    ) %}

    <div class="columns is-vcentered">
        <div class="column is-half">
            {{ _level((
                _l_item(
                    num_user, 'Users', 'User', 'main.users'
                ),
            )) }}
        </div>
        <div class="column is-half">
            {% call(user) _menu(
                lat_user, 'Latest Users', 'Latest User'
            ) %}
            <li title="{{ user.prime }}">
                <a href="{{ url_for('main.user_single', prime=user.prime) }}">
                    <span
                        class="icon"
                        style="display: inline-table;"
                    >
                        <i class="fas {{ user.icon }}"></i>
                    </span>
                    <span>{{ user.username }}</span>
                    <span>&ndash;</span>
                    <span>
                        {% with len = user.crawls|length %}
                            {{ len }}
                            {{ 'Crawls' if len != 1 else 'Crawl' }}
                        {% endwith %}
                    </span>
                </a>
            </li>
            {% endcall %}
        </div>
    </div>

    <hr />

    <div class="columns is-vcentered">
        <div class="column is-half">
            {{ _level((
                _l_item(
                    num_crawl, 'Crawls', 'Crawl', 'main.crawls'
                ),
            )) }}
        </div>
        <div class="column is-half">
            {% call(crawl) _menu(
                lat_crawl, 'Latest Crawls', 'Latest Crawl'
            ) %}
            <li title="{{ crawl.prime }}">
                <a href="{{ url_for('main.crawl_single', prime=crawl.prime) }}">
                    <span>{{ crawl.created|moment }}</span>
                    <span>&ndash;</span>
                    <span>
                        {% with len = crawl.urls|length %}
                            {{ len }}
                            {{ 'URLs' if len != 1 else 'URL' }}
                        {% endwith %}
                    </span>
                </a>
            </li>
            {% endcall %}
        </div>
    </div>

    <hr />

    <div class="columns is-vcentered">
        <div class="column is-half">
            {{ _level((
                _l_item(
                    num_url, 'URLs', 'URL', 'main.urls'
                ),
            )) }}
            {{ _level((
                _l_item(
                    num_url_good, 'Good', 'Good',
                    'main.urls_good', t_css='has-text-success'
                ),
                _l_item(
                    num_url_fail, 'Failed', 'Failed',
                    'main.urls_fail', t_css='has-text-danger'
                ),
            )) }}
        </div>
        <div class="column is-half">
            {% call(url) _menu(
                lat_url, 'Latest URLs', 'Latest URL'
            ) %}
                <li title="{{ url.address }}">
                    <a href="{{ url_for('main.url_single', prime=url.prime) }}">
                        <span>{{ url.created|moment }}</span>
                        <span>&ndash;</span>
                        <strong>{{ url.status.value }}</strong>
                        {% with (icls, icon) = (
                            'has-text-success', 'fa-award'
                        ) if url.status.good else (
                            'has-text-danger', 'fa-fire-alt'
                        ) %}
                        <span
                            class="icon {{ icls }}"
                            style="display: inline-table;"
                        >
                            <i class="fas {{ icon }}"></i>
                        </span>
                        {% endwith %}
                    </a>
                </li>
            {% endcall %}
        </div>
    </div>
    {% else %}
        {{ nothing_there() }}
    {% endif %}
{% endblock %}
