{% extends 'page.html' %}

{% block content %}
    <section class="content">
        <h2>What is this?</h2>
        <div>This is {{ config.APP_NAME }}.</div>
        <div>It was written as a school project:</div>
        <div>
            <p>
                <blockquote>
                    Write something for the web.
                    And make use of a database.
                </blockquote>
            </p>
        </div>
        <div>Ok, can do.</div>
    </section>
    <section class="content">
        <h2>What does it do?</h2>
        <div>
            Feed it with some URL and it tries to follow all
            linked targets beneath (and the links of the links of course).
        </div>
        <div>
            It keeps a backlog of the links and if that target throws
            errors.
        </div>
    </section>
    <section class="content">
        <h2>Wait, why?</h2>
        <div>
            The network in our school enforces some proxy, which limits
            access to almost any site.
        </div>
        <div>
            Anytime you want to read more about some topic you run into
            the infamous
            <cite>This Page is blocked!!1!</cite>
            message.
        </div>
        <div>
            My bet is now: You don't need many hops to run into a blocked site
            when you start from the official school homepage.
        </div>
    </section>
    <section class="content">
        <h2>Something else?</h2>
        <div>Yes, there is a bookmarklet!</div>
        <div>Just drag this into your bookmarks bar.</div>
        <div class="level">
            <div class="level-item has-text-centered">
                <a class="link" href="{{ bookmarklet() }}">
                    Crawl with {{ config.APP_NAME }}
                </a>
            </div>
        </div>
    </section>
{% endblock %}
