{% extends 'page.html' %}
{% from 'macros/base.html' import nothing_there %}
{% from 'macros/form.html' import render_form %}

{% macro _result(url, query) %}
    <div class="content">
        <div class="card">
            <header class="card-header">
                <div class="card-header-title">
                    {{ url.status.value|mark(query) }}
                </div>
                <div class="card-header-icon">
                {% with (icon, icls) = (
                    'fa-award', 'has-text-success'
                ) if url.status.good else (
                    'fa-fire-alt', 'has-text-danger'
                ) %}
                    <span class="icon {{ icls }}">
                        <i class="fas {{ icon }}"></i>
                    </span>
                {% endwith %}
                </div>
            </header>
            {% if url.error %}
            <div class="card-content">
                <div class="content has-text-centered">
                    <code>{{ url.error.value|mark(query) }}</code>
                </div>
            </div>
            {% endif %}
            <footer class="card-footer">
                <a
                    class="card-footer-item"
                    href="{{ url_for('main.url_single', prime=url.prime) }}"
                >
                    {{ url.address|mark(query) }}
                </a>
            </footer>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="content">
        {{ render_form(form, action=url_for(request.endpoint)) }}
    </div>

    {% if results is not none %}
        {% if not results %}
            <div class="content">
                {{ nothing_there(title='Nothing found!', icon='fa-search') }}
            </div>
        {% else %}
            <div class="content">
                <div class="level">
                    <div class="level-item has-text-centered">
                        {% with len = results|length %}
                        <div>
                            <div class="heading">
                                {{ 'Results' if len != 1 else 'Result' }}
                            </div>
                            <div class="title">
                                {{ len }}
                            </div>
                        </div>
                        {% endwith %}
                    </div>
                </div>
            </div>

            {% for url in results %}
                {{ _result(url, query) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
