{% extends 'page.html' %}
{% from 'macros/form.html' import render_form %}

{% block main_head %}
    <script src="{{ url_for('static', filename='crawl.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% if not submitted %}
        {{ render_form(form) }}
    {% else %}
    <div class="content">
        <progress id="snapbar" class="progress is-link" value="0" max="1"></progress>
    </div>
    <div id="snapcontent" class="content"></div>
    <script type="text/javascript">
        ; +(function () {
            'use strict';
            document.addEventListener("DOMContentLoaded", function () {
                ctrl(
                    "{{ url_for('crawl.snap') }}",
                    '{{ form.address.data|urlencode }}',
                    '{{ form.ttl.data|urlencode }}',
                    '{{ form.csrf_token.data|urlencode }}',
                    'snapcontent', 'snapbar'
                );
            });
        })();
    </script>
    {% endif %}
{% endblock %}
