<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='ico/apple-touch-icon-60x60.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='ico/apple-touch-icon-76x76.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='ico/apple-touch-icon-120x120.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='ico/apple-touch-icon-152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='ico/apple-touch-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='ico/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="194x194" href="{{ url_for('static', filename='ico/favicon-194x194.png') }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='ico/android-chrome-192x192.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='ico/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='ico/site.webmanifest') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='ico/safari-pinned-tab.svg') }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="{{ url_for('static', filename='ico/browserconfig.xml') }}">
<meta name="theme-color" content="#ffffff">
