<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title is defined %}{{ title }} | {% endif %}{{ config.APP_NAME }}</title>
    {% include '_ico.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bulma.min.css') }}" type="text/css">
    <script defer src="{{ url_for('static', filename='lib/fontawesome.min.js') }}" type="text/javascript"></script>
    <script defer src="{{ url_for('static', filename='lib/moment.min.js') }}" type="text/javascript"></script>
    {% block main_head %}{% endblock %}
</head>
<body>
    {% include 'navigation.html' %}
    {% block main_content %}{% endblock %}
    {% include 'footer.html' %}
    <script defer src="{{ url_for('static', filename='site.js') }}" type="text/javascript"></script>
</body>
</html>
