
<footer class="footer">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('side.about') }}">
                    <span class="icon">
                        <i class="fas fa-tint"></i>
                    </span>
                    <span>{{ config.APP_NAME }}</span>
                </a>
                <a
                   class="navbar-item is-hidden-desktop"
                   href="{{ url_for('side.find') }}"
                >
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </a>
                <a
                   class="navbar-item is-hidden-desktop"
                   href="{{ url_for('side.feed') }}"
                   target="_blank"
                >
                    <span class="icon">
                        <i class="fas fa-rss"></i>
                    </span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        {{ config.APP_SUBTITLE }}
                    </div>
                </div>
                <div class="navbar-end">
                    <a
                       class="navbar-item is-hidden-touch"
                       href="{{ url_for('side.find') }}"
                    />
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                        <span>Search</span>
                    </a>
                    <a
                       class="navbar-item is-hidden-touch"
                       href="{{ url_for('side.feed') }}"
                       target="_blank"
                    >
                        <span class="icon">
                            <i class="fas fa-rss"></i>
                        </span>
                        <span>Feed</span>
                    </a>
                </div>
            </div>
        </nav>
        <nav class="navbar is-size-7">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <span class="icon">
                            <i class="fas fa-code"></i>
                        </span>
                        written with
                        <span class="icon">
                            <i class="fas fa-heart"></i>
                        </span>
                        by my
                        <span class="icon">
                            <i class="fas fa-cat"></i>
                        </span>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <span>
                            Source code licensed
                            <a href="https://opensource.org/licenses/MIT">
                                MIT
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</footer>
