{% with flashed = get_flashed_messages(with_categories=true) %}
{% if flashed %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-10-desktop is-offset-1-desktop">
                {% for category, message in flashed %}
                <article class="message {{ category if category else 'is-dark' }}">
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endwith %}
