<nav class="navbar has-shadow is-spaced">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('main.index') }}">
                <span class="icon">
                    <i class="fas fa-tint"></i>
                </span>
                <span>{{ config.APP_NAME }}</span>
            </a>

            <div class="navbar-burger" id="navBurger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu" id="navToggle">
            <div class="navbar-start">

                <a class="navbar-item" href="{{ url_for('main.users') }}">
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                    <span>Users</span>
                </a>

                <a class="navbar-item" href="{{ url_for('main.crawls') }}">
                   <span class="icon">
                       <i class="fas fa-flask"></i>
                   </span>
                   <span>Crawls</span>
                </a>

                <a class="navbar-item" href="{{ url_for('main.urls') }}">
                    <span class="icon">
                        <i class="fas fa-vial"></i>
                    </span>
                    <span>URLs</span>
                </a>

                {% if current_user.is_authenticated %}
                <a class="navbar-item" href="{{ url_for('user.home') }}">
                    <span class="icon">
                        <i class="fas {{ current_user.icon }}"></i>
                    </span>
                    <span>{{ current_user.username }}</span>
                </a>
                {% endif %}
            </div>

            <div class="navbar-end">

                <div class="navbar-item">
                    <div class="field is-grouped is-grouped-multiline">
                        <p class="control">
                            {% if current_user.is_authenticated %}
                            <a class="button" href="{{ url_for('user.logout') }}">
                                <span class="icon">
                                    <i class="fas fa-user-minus"></i>
                                </span>
                                <span>Logout</span>
                            </a>
                            {% else %}
                            <a class="button" href="{{ url_for('user.login') }}">
                                <span class="icon">
                                    <i class="fas fa-user-check"></i>
                                </span>
                                <span>Login</span>
                            </a>
                            {% endif %}
                        </p>
                    </div>
                </div>

                {% if current_user.is_authenticated %}
                <div class="navbar-item">
                    <div class="field is-grouped is-grouped-multiline">
                        <p class="control">
                            <a class="button" href="{{ url_for('crawl.index') }}">
                                <span class="icon">
                                    <i class="fas fa-paint-brush"></i>
                                </span>
                                <span>Crawl</span>
                            </a>
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
