{% extends 'base.html' %}
{% from 'macros/base.html' import nothing_there %}

{% block main_content %}
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-10-desktop is-offset-1-desktop">
                        <h1 class="title is-2 is-spaced">
                            {{ title|d(config.APP_NAME) }}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'message.html' %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-10-desktop is-offset-1-desktop">
                    {% block content %}{{ nothing_there() }}{% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
