{% extends 'base.html' %}

{% block main_content %}
    <section class="hero is-dark is-bold is-large">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-8-desktop is-offset-2-desktop">
                        <h1 class="title is-2 is-spaced">
                            {{ error.code }} - {{ error.name }}
                        </h1>
                        <h2 class="subtitle is-4">
                            {{ error.description }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
